.subscribe {
  /* background: blueviolet; */
  /* margin-bottom: 80px; */
  padding: 160px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgba(94, 94, 94, 0.2); */
}
.subs_heading {
  margin-bottom: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.input_box {
  padding: 10px 20px;
  width: 500px;
  border: 0.5px solid;
  border-right: none;
}
.subs_btn {
  padding: 10px 20px;
  background: black;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0.5px solid;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
