.cartItems {
  margin: 100px 170px;
}
.cartItems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cart_item_format_main,
.cart_list {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 575px) {
}
@media (min-width: 575px) and (max-width: 770px) {
}
@media (min-width: 770px) and (max-width: 990px) {
}
@media (min-width: 990px) and (max-width: 1200px) {
}
